body {
    background-color: floralwhite;
    color: 434455;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    width: 100%;
}

/* === Base Reset === */
/* === Header === */
header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.header__logo {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  leading-trim: none;
  line-height: 21px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: raleway
}

.header__logo--highlight {
  
}

/* === Navigation === */
.nav__list {
  display: flex;
  gap: 40px
  font-weight 500px
  font-medium
  font-syze
  leading-tream
  line-height
  letter spacing
}

.nav__link {
  
}

.nav__link:hover {
  
}

/* === Contacts === */
.contacts__list {
  
}

.contacts__link {
  
}

.contacts__link:hover {
  
}

/* === Hero Section === */
.hero {
  
}

.hero__title {
  
}

.button {
  
}

.button--primary {
  
}

.button--primary:hover {
  
}

/* === Features Section === */
.features {
  
}

.features__list {
  
}

.features__title {
  
}

.features__text {
  
}

/* === Team Section === */
.team {
  
}

.team__title {
  
}

.team__list {
  
}

.team__member {
  
}

.team__photo {
 
}

.team__name {
  
}

.team__position {
  
}

/* === Footer === */
.footer {
  
}

.footer__logo {
  
}

.footer__logo--highlight {
  
}

.footer__text {
  
}
.header__adress {
display: flex;
gap: 40px;    
} 

.header__logo-color {
    color:blue
}

.adress_list {
    display: flex;
    gap: 40px;
}

.general_title {
    color overscroll-behavior-block: ;
    font-weight: 700;
    font-size: ; 56px
    line height: 60px
    letter-spacing: 2%;;
}

.gereral_button {
    padding: 16px 32px
}